# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lejeu\OneDrive - Haute Ecole de Namur-Liege-Luxembourg\Q2\Projet informatique intégré\Projet\projet-integre-hijo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
